@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
    /* Light Gray (Gray-100) */
    color: #111827;
    /* Dark Gray Text (Gray-900) */
    font-family: 'Inter', sans-serif;
}
@media print {
  @page {
    margin: 0.5cm;
  }
}

